#tablaAverias {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

#tablaAverias th,
#tablaAverias td {
  padding: 0.8rem;
  text-align: left;
  border: 1px solid #ddd;
}

#tablaAverias th {
  background-color: #dd4814;
  color: #fff;
}

#alert p {
  background: #d1ecf1;
  color: #0c5460;
  padding: 10px;
  border-radius: 5px;
}
